@font-face {
  font-family: "ComicFont";
  src : url('assets/Comix Loud.ttf');
}

#splash-page {
	font-family: 'ComicFont';
	height: 100vh;
}

#title {
	position: relative;
	top : 50%;
	transform: translateY(-50%);
}

.splash {
	font-family: 'ComicFont';
}

.buttons-cell {
	text-align:right;
}

.table-container {
	margin-top:50px;
}

td {
	vertical-align:middle!important;
}

span.submission-count {
	font-size: 150px;
	position: relative;
	left : 26px;
	top : 33px;
}

h2.submission-count-frame {
	background-color: black;
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

div.times {
	float: none;
}

.instructions {
	line-height: 30px;
}
