<div class="container row jumbotron">
	<img ng-src='{{giph}}' alt="" class="col-xs-10 col-xs-offset-1">
</div>

<div class="row" ng-hide='submitted'>
	<div class="col-sm-6">

		<form ng-submit='addHashTag(hashtag)'>
			<div class="form-group">
				<label>HashTag</label>
				<input class="form-control" type="text" placeholder="#blahblah" ng-model='hashtag' required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>
</div>


<div class="table-container">
	<table class="table">
		<thead>
			<th>Hashtags</th>
		</thead>
		<colgroup>
			<col style="width:80%">
			<col style="width:20%">
		</colgroup>

		<!-- <tr ng-repeat="thing in thingArray track by $index">
		<td>
		<a href="#" editable-text="thing.name" onbeforesave="editOneThing(thing)" e-required>{{ thing.name ||'empty' }}</a>
	</td>
	<td>
	<button class="delete-button btn btn-danger " ng-click="removeOneThing(thing)">
	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
</td>
</tr> -->

<tr ng-repeat="hashtag in hashtags track by $index">
	<td>
		<a href="#" editable-text="hashtag.hash" onbeforesave="editOneThing(thing)" e-required>{{ hashtag.hash ||'empty' }}</a>
		<button ng-hide='voted' ng-click='addVote(hashtag)' class="btn btn-success pull-right"><i class="glyphicon glyphicon-thumbs-up"></i></button>
	</td>
</tr>

</table>

</div>
