<div class="container row jumbotron">
	<img ng-src='{{image}}' class='col-xs-10 col-xs-offset-1'/>
	<!-- <img ng-src='{{giph}}' ng-hide='image' class="col-xs-10 col-xs-offset-1"> -->
</div>

<div>
	<img ng-src="{{img}}" ng-show='isVisible'/>
	<img ng-src="{{otherImg}}"  ng-click='showImage()' style="height:{{height}}px; width:{{width}}px"/>
</div>

<div class="times container-fluid col-xs-offset-2">
	<a ng-href="https://twitter.com/MattBroatch/status/{{tweet}}"><p class="lead col-xs-offset-2 text-warning">Last Round's Winning Tweet</p></a>
	<h4 class='round-count-frame col-xs-8 col-xs-offset-3'>Round Ends In: <span class="text-danger">{{counter2}}</span> </h4>
	<h2 class='submission-count-frame col-xs-8 col-xs-offset-2 animated infinite pulse' ><span class='submission-count'>{{counter}}</span></h2>
</div>


<div class="row" ng-hide='submitted || counter2 < 30'>
	<div class="col-xs-offset-3 ">

		<form ng-submit='addHashTag(hashtag)' class='form-inline'>
			<div class="form-group">
				<label>HashTag</label>
				<input class="form-control " type="text" placeholder="#blahblah" ng-model='hashtag' required>
				<button type="submit" class="btn btn-primary ">Submit</button>
			</div>
		</form>

	</div>
</div>


<div class="table-container">
	<table class="table">
		<thead>
			<th>Hashtags</th>
			<th>Votes</th>
		</thead>
		<colgroup>
			<col style="width:80%">
			<col style="width:20%">
		</colgroup>

		<tr ng-repeat="hashtag in hashtags track by $index">
			<td>
				<p class='lead'>{{ hashtag.hash }} </p>

			</td>
			<td>
				<p class='lead'>{{ hashtag.vote }} <button ng-hide='voted' ng-click='addVote(hashtag)' class="btn btn-success pull-right"><i class="fa fa-thumbs-up fa-2x"></i></button></p>
			</td>
		</tr>

	</table>

</div>
